h1 {
  color: #A4A6B3;
  font-family: Muli;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
}

h2 {
  color: #252733;
  font-family: Muli;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
}

h3 {
  color: #9FA2B4;
  font-family: Muli;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

h4 {
  color: #252733;
  font-family: Muli;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2px;
}

hr {
  color: #DFE0EB;
}

.bg01 {
  background-color: #363740;
}

.bg02 {
  background-color: #F7F8FC;
}

#DBtitle {
  margin: 30px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#DBtitle a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#DBtitle h1 {
  color: #A4A6B3;
  font-family: Muli;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  margin-left: 10px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-left: 2px solid rgba(221, 226, 255, 0);
}
.nav-link a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  margin: 9px 12px 9px 16px;
}
.nav-link a svg {
  margin-right: 24px;
}
.nav-link.active {
  background-color: rgba(159, 162, 180, 0.08);
  border-left: 2px solid #DDE2FF;
}
.nav-link.active h1 {
  color: #DDE2FF;
}
.nav-link.active svg path {
  fill: #DDE2FF;
}

#content {
  padding: 30px 12px;
}
#content #CTheader {
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#content #CTheader #headerR {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#content #CTheader #headerR svg {
  margin-left: 1.5rem;
}
#content #CTheader #headerR p {
  color: #252733;
  font-family: Muli;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: right;
  margin-left: 1.4rem;
}
#content #CTheader #headerR img {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 4px solid white;
  margin-left: 0.8rem;
}
#content #detail {
  padding: 30px 20px 0 20px;
}
#content #detail .row {
  margin: 0;
  padding: 0;
}
#content #detail .sheet {
  border-top: 1px solid #DFE0EB;
  border-right: 1px solid #DFE0EB;
  border-bottom: 1px solid #DFE0EB;
  border-left: 1px solid #DFE0EB;
}
#content #detail .sheet p {
  color: #252733;
  font-family: Muli;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  margin-top: 12px;
}
#content #detail .sheet:not(.disable):hover {
  border: 1px solid #3751FF;
  cursor: pointer;
}
#content #detail .sheet:not(.disable):hover h2 {
  color: #3751FF;
}
#content #detail .sheet:not(.disable):hover p {
  color: #3751FF;
}
#content #detail #row01 h4 {
  color: #9FA2B4;
  font-family: Muli;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
}
#content #detail #row02 #graph {
  text-align: left;
}
#content #detail #row02 #graph div h3 {
  color: #252733;
}
#content #detail #row02 #graph div P {
  color: #9FA2B4;
  font-family: Muli;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1px;
  margin: 0;
}
#content #detail #row02 #graph #legenddiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#content #detail #row02 #graph #legenddiv svg {
  margin: 0 12px;
}
#content #detail #row02 #graph #graphimg {
  margin-top: 73px;
  max-width: 97%;
  overflow: hidden;
}
#content #detail #row02 #graph #graphimg img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}
#content #detail #row02 #graphside div {
  height: 100%;
}
#content #detail #row02 #graphside div article {
  height: 20%;
  border-top: 1px solid #DFE0EB;
  border-right: 0 solid #DFE0EB;
  border-bottom: 0 solid #DFE0EB;
  border-left: 1px solid #DFE0EB;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#content #detail #row02 #graphside div article h3 {
  font-size: 16px;
}
#content #detail #row02 #graphside div article p {
  font-size: 24px;
  margin-top: 6px;
}
#content #detail #row02 #graphside div article:first-child {
  border-top: none;
}
#content #detail #row03 .title {
  padding: 0 32px;
}
#content #detail #row03 .title h3 {
  color: #252733;
}
#content #detail #row03 .title P {
  color: #9FA2B4;
  font-family: Muli;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1px;
  margin: 0;
}
#content #detail #row03 .viewdetails {
  padding: 0 32px;
  text-decoration: none;
}
#content #detail #row03 .viewdetails p {
  color: #3751FF;
  font-family: Muli;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: right;
  margin-top: 5px;
}
#content #detail #row03 #tickets b {
  color: #4B506D;
  font-family: Muli;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1px;
}
#content #detail #row03 #tickets .ticketsresult {
  display: flex;
  align-items: column;
  justify-content: space-between;
  padding: 20px 32px;
  border-top: 0 solid #DFE0EB;
  border-right: 0 solid #DFE0EB;
  border-bottom: 1px solid #DFE0EB;
  border-left: 0 solid #DFE0EB;
}
#content #detail #row03 #tickets .ticketsresult h4 {
  align-items: flex-start;
}
#content #detail #row03 #tickets .ticketsresult p {
  color: #D5D9ED;
  font-family: Muli;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2px;
  align-items: flex-end;
  text-align: right;
  margin: 0;
}
#content #detail #row03 #task .taskresult {
  display: flex;
  align-items: column;
  justify-content: space-between;
  padding: 18px 32px;
  border-top: 0 solid #DFE0EB;
  border-right: 0 solid #DFE0EB;
  border-bottom: 1px solid #DFE0EB;
  border-left: 0 solid #DFE0EB;
}
#content #detail #row03 #task .taskresult .checkbox-input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#content #detail #row03 #task .taskresult .checkbox-input label {
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
}
#content #detail #row03 #task .taskresult .checkbox-input label:after {
  border: 2px solid #FFF;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  opacity: 0;
  position: absolute;
  top: 5px;
  left: 3px;
  transform: rotate(-45deg);
  width: 12px;
}
#content #detail #row03 #task .taskresult .checkbox-input input[type=checkbox] {
  visibility: hidden;
}
#content #detail #row03 #task .taskresult .checkbox-input input[type=checkbox]:checked + label {
  background-color: #3751FF;
  border-color: #3751FF;
}
#content #detail #row03 #task .taskresult .checkbox-input input[type=checkbox]:checked + label:after {
  opacity: 1;
}
#content #detail #row03 #task .taskresult .checkbox-input h4 {
  margin-left: 16px;
}
#content #detail #row03 #task .taskresult button {
  color: #FFF;
  font-family: Muli;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 8px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
#content #detail #row03 #task .taskresult #urgentbtn {
  width: 74px;
  background-color: #FEC400;
}
#content #detail #row03 #task .taskresult #newbtn {
  width: 54px;
  background-color: #29CC97;
}
#content #detail #row03 #task .taskresult #defaultbtn {
  width: 76px;
  background-color: #F0F1F7;
  color: #9FA2B4;
}
#content #detail #row03 #task .taskresult:nth-child(3) h4 {
  color: #C5C7CD;
}

@media (max-width: 991px) {
  #content #detail #row02 #graphside div article {
    border-top: 1px solid #DFE0EB;
    border-right: 0 solid #DFE0EB;
    border-bottom: 0 solid #DFE0EB;
    border-left: 0 solid #DFE0EB;
    padding: 15px 0;
  }
  #content #detail #row02 #graphside div article:first-child {
    border-top: 1px solid #DFE0EB;
    border-right: 0 solid #DFE0EB;
    border-bottom: 0 solid #DFE0EB;
    border-left: 0 solid #DFE0EB;
  }
}

/*# sourceMappingURL=style.css.map */
