// Variables
$C01: #252733;
$C02: #9FA2B4;
$C03: #DFE0EB;
$C04: #A4A6B3;
$C05: #3751FF;
$C06: #4B506D;

// Mixins
@mixin txt($CL, $size, $FW, $LH, $space) {
    color: $CL;
    font-family: Muli;
    font-size: $size;
    font-style: normal;
    font-weight: $FW;
    line-height: $LH;
    letter-spacing: $space;
}

@mixin line($top, $right, $bottom, $left) {
    border-top: $top solid $C03;
    border-right: $right solid $C03;
    border-bottom: $bottom solid $C03;
    border-left: $left solid $C03;
}

@mixin FCC($flex, $align, $just) {
    display: $flex;
    align-items: $align;
    justify-content: $just;
}

// ------------------------------------------------------------------------------------
h1 {
    @include txt($C01, 24px, 700, normal, 0.3px);
}

h2 {
    @include txt($C02, 19px, 700, normal, 0.4px);
    text-align: center;
}

h3 {
    @include txt($C01, 19px, 700, normal, 0.4px);
    margin-bottom: 8px;
}

h4 {
    @include txt($C02, 16px, 600, 22px, 0.3px);
}

h5 {
    @include txt($C01, 14px, 600, 20px, 0.2px);
}

h6 {
    @include txt($C02, 12px, 600, normal, 0.1px);
}

hr {
    color: $C03;
}

.bg01 {
    background-color: #363740;
}

.bg02 {
    background-color: #F7F8FC;
}

// ------------------------------------------------------------------------------------
// sidebar
#DBtitle {
    margin: 30px 0 50px 0;
    @include FCC(flex, center, center);

    a {
        @include FCC(flex, center, flex-start);
    }

    span {
        @include txt($C04, 19px, 400, normal, 0.3px);
        margin-left: 10px;
    }
}

.nav-link {
    @include FCC(flex, center, flex-start);
    border-left: 2px solid #DDE2FF00;

    a {
        @include FCC(flex, center, flex-start);
        text-decoration: none;
        margin: 9px 12px 9px 16px;

        svg {
            margin-right: 24px;
        }

        span {
            @include txt($C04, 16px, 400, normal, 0.3px);
        }
    }

    &.active {
        color: #DDE2FF;
        background-color: rgba(red($C02), green($C02), blue($C02), 0.08);
        border-left: 2px solid #DDE2FF;

        svg path {
            fill: #DDE2FF;
        }
    }
}

// Content
#content {
    padding: 30px 12px;

    #CTheader {
        padding: 0px 30px;
        @include FCC(flex, center, flex-end);

        #headerR {
            @include FCC(flex, center, flex-end);

            svg {
                margin-left: 1.5rem;
            }

            p {
                @include txt($C01, 14px, 600, 20px, 0.2px);
                text-align: right;
                margin-left: 1.4rem;
            }

            img {
                width: 44px;
                height: 44px;
                flex-shrink: 0;
                border-radius: 50%;
                border: 3px solid white;
                margin-left: 0.8rem;
            }
        }
    }

    #detail {
        padding: 30px 20px 0 20px;

        .row {
            margin: 0;
            padding: 0;
        }

        .sheet {
            @include line(1px, 1px, 1px, 1px);

            p {
                @include txt($C01, 40px, 700, normal, 1px);
                margin-top: 12px;
            }

            &:not(.disable):hover {
                border: 1px solid $C05;
                cursor: pointer;

                h2 {
                    color: $C05;
                }

                p {
                    color: $C05;
                }
            }
        }


        // 2nd row
        #row02 {

            #graph {
                text-align: left;

                #legenddiv {
                    @include FCC(flex, center, flex-end);

                    svg {
                        margin: 0 12px;
                    }
                }

                #graphimg {
                    margin-top: 73px;
                    max-width: 97%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: auto;
                        display: block;
                        object-fit: contain;
                    }
                }
            }

            #graphside {
                div {
                    height: 100%;

                    article {
                        height: 20%;
                        @include line(1px, 0, 0, 1px);
                        @include FCC(flex, center, center);
                        flex-direction: column;

                        p {
                            font-size: 24px;
                            margin-top: 6px;
                        }
                    }

                    article:first-child {
                        border-top: none;
                    }
                }
            }
        }

        // 3rd row
        #row03 {

            .title {
                padding: 0 32px;
            }

            .viewdetails {
                padding: 0 32px;
                text-decoration: none;

                p {
                    @include txt($C05, 14px, 600, 20px, 0.2px);
                    text-align: right;
                    margin-top: 5px;
                }
            }

            #tickets {
                b {
                    @include txt($C06, 12px, 600, normal, 0.1px);
                }

                .ticketsresult {
                    @include FCC(flex, column, space-between);
                    padding: 20px 32px;
                    @include line(0, 0, 1px, 0);

                    h5 {
                        align-items: flex-start;
                    }

                    p {
                        @include txt(#D5D9ED, 14px, 600, 20px, 0.2px);
                        align-items: flex-end;
                        text-align: right;
                        margin: 0;
                    }
                }
            }

            #task {
                .taskresult {
                    @include FCC(flex, column, space-between);
                    padding: 18px 32px;
                    @include line(0, 0, 1px, 0);

                    .checkbox-input {
                        @include FCC(flex, center, flex-end);

                        label {
                            background-color: #FFF;
                            border: 1px solid #CCC;
                            border-radius: 50%;
                            cursor: pointer;
                            width: 20px;
                            height: 20px;
                            left: 0;
                            position: absolute;
                            top: 0;
                        }

                        label:after {
                            border: 2px solid #FFF;
                            border-top: none;
                            border-right: none;
                            content: "";
                            height: 6px;
                            opacity: 0;
                            position: absolute;
                            top: 5px;
                            left: 3px;
                            transform: rotate(-45deg);
                            width: 12px;
                        }

                        input[type="checkbox"] {
                            visibility: hidden;
                        }

                        input[type="checkbox"]:checked+label {
                            background-color: $C05;
                            border-color: $C05;
                        }

                        input[type="checkbox"]:checked+label:after {
                            opacity: 1;
                        }

                        h5 {
                            margin-left: 16px;
                        }
                    }

                    button {
                        @include txt(#FFF, 11px, 700, normal, 0.5px);
                        height: 24px;
                        flex-shrink: 0;
                        border-radius: 8px;
                        border: none;
                        text-align: center;
                        text-transform: uppercase;
                        text-decoration: none;
                    }

                    #urgentbtn {
                        width: 74px;
                        background-color: #FEC400;
                    }

                    #newbtn {
                        width: 54px;
                        background-color: #29CC97;
                    }

                    #defaultbtn {
                        width: 76px;
                        background-color: #F0F1F7;
                        color: $C02;
                    }
                }

                .taskresult:nth-child(3) {
                    h5 {
                        color: #C5C7CD;
                    }
                }
            }
        }
    }
}

// Mobile adjustment
@media (max-width: 991px) {
    #content {
        #detail {

            #row02 {
                #graphside {
                    div {
                        article {
                            @include line(1px, 0, 0, 0);
                            padding: 15px 0;
                        }

                        article:first-child {
                            @include line(1px, 0, 0, 0);
                        }
                    }
                }
            }
        }
    }
}